<br><br><br><br><br><br>
<h1><p>Hello !</p></h1>
<font  size ="4"><p>SenseSchool permet à chacun de développer des compétences pour résoudre les problèmes sociaux environnementaux de notre époque. Envie d'apprendre ? </p></font><br>

<%= link_to ("Voyons voir ..."),
            posts_path,
            :class => 'btn btn-large btn-block btn-primary' %>

          <br>
          <br>
          <br>



            