<div class="page-header"><h3>Contacts</h3></div>

	<h4>Ecoles &  Etudiants</h4>
				
					<p><strong>INNOVEZ</strong>, sur des défis porteurs de sens.</p>
					<p><strong>PRATIQUEZ</strong>, auprès de parties prenantes multiples.</p>
					<p><strong>VALORISEZ</strong>, des compétences nouvelles auprès de futurs employeurs.</p>
					<p>Contactez <a href="mailto:academic@senseschool.cc">academic@senseschool.cc</a></p><br>

	<h4>Entreprises</h4>

		<p><strong>VALORISEZ</strong> votre marque employeur en créant du lien entre vos collaborateurs actuels et futurs.</p>
		<p><strong>INNOVEZ</strong> dans vos métiers avec des jeunes entre 18 et 25 ans.</p>
		<p><strong>DECOUVREZ</strong> et soutenez des initiatives porteuses de sens dans votre secteur.</p>	
		<p>Contactez <a href="mailto:corporate@senseschool.cc">corporate@senseschool.cc</a></p><br>


	<h4>Nous trouver</h4>
	<p>Retrouvez nous au <a href="https://www.facebook.com/makesensesensecube">SenseCube</a> 11, rue Delouvain, 19ème.</p>
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=11+Rue+Delouvain,+Paris&amp;aq=0&amp;oq=11+rue+Delouvain&amp;sll=46.452997,1.73584&amp;sspn=8.629527,21.621094&amp;ie=UTF8&amp;hq=&amp;hnear=11+Rue+Delouvain,+75019+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.87572,2.388743&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=11+Rue+Delouvain,+Paris&amp;aq=0&amp;oq=11+rue+Delouvain&amp;sll=46.452997,1.73584&amp;sspn=8.629527,21.621094&amp;ie=UTF8&amp;hq=&amp;hnear=11+Rue+Delouvain,+75019+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.87572,2.388743" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>

	<h4>Pour tout le reste</h4>
	<p>Il y a <a href="mailto:contact@senseschool.cc">contact@senseschool.cc</a> !</p>

				