<div class="page-header"><h3>L'équipe SenseSchool</h3></div>

			<div class="row">
				<div class="span1">
					<%=image_tag("marine.png")%>
				</div>
				<div class="span7">
					<h4>Marine Plossu </h4>
					<p>#PlanetFinance #PRSF Burkina Faso</p>
					<p>marine@senseschool.cc</p>
				</div>
			</div>

			<div class="row">
				<div class="span1">
					<%=image_tag("caro.png")%>
				</div>
				<div class="span7">
					<h4>Caroline Delboy </h4>
					<p>#DiscoSoupe #Canal+</p>
					<p>caroline@senseschool.cc</p>
				</div>
			</div>

			<div class="row">
				<div class="span1">
					<%=image_tag("chris.png")%>
				</div>
				<div class="span7">
					<h4>Christian Vanizette </h4>
					<p>#Gemalto #CommonsSense #MakeSense</p>
					<p>christiant@senseschool.cc</p>
				</div>
			</div>






